MONGODB_URL=
PORT=8000
CORS_ORIGIN=* 
ACCESS_TOKEN_SECRET=<random-long-string>
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=<different-random-long-string>
REFRESH_TOKEN_EXPIRY=15d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=